<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mon projet</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <div class="navbar-brand">Simple Trello</div>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="./">Index</a></li>
            <li><a href="./boards">Boards</a></li>
            <li><a href="./users">Users</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if LoggedUser != null %}
                <li><a href="./logout">Logout</a></li>
            {% else %}
                <li><a href="./login">Login</a></li>
                <li><a href="./register">Sign Up</a></li>
            {% endif %}
            <li><a> {{ LoggedUser }} </a></li>
        </ul>

    </div>
</div>

<div class="container">
    {% block content %}{% endblock %}
</div>
</body>
</html>