{% extends "base.html.twig" %}
{% block content %}
    <script>
        function addBoard() {
            var boardname = prompt("Enter Board Name:");

            if(boardname == null) return;

            window.location.href = "/addBoard?name=" + encodeURI(boardname);
        }

        function deleteBoard(boardname, key) {

            var acceptDelete = confirm("Are you sure you want to delete : " + boardname);

            if(acceptDelete)
            {
                window.location.href="/deleteBoard?id=" + encodeURI(key);
            }
        }

        function viewBoard(key) {

                window.location.href="/viewBoard?id=" + encodeURI(key);
            }

    </script>
    <button type="button"
            class="btn btn-success"
            onclick="addBoard()">Add Board</button>
    <div class="container">
        <table class="table" style="width: auto;">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
        {% for key, board in boards %}
        <tr>
            <th scope="row">{{ loop.index }}</th>
            <th>{{ key }}</th>
            <td>{{ board['titre'] }}</td>
            <td><button type="button"
                        class="btn btn-danger"
                        onclick="deleteBoard('{{ board['titre'] }}', '{{ key }}')">Delete</button>
                <button type="button"
                        class="btn btn-success"
                        onclick="viewBoard('{{ key }}')">View</button></td>
        </tr>
        {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
{% endblock %}