{% extends "base.html.twig" %}
{% block content %}
    <script>
        function addList(boardid) {
            console.log("adding List");

            var listname = prompt("Enter List Name:");

            if(listname == null) return;

            window.location.href = "/addList?name=" + encodeURI(listname) +"&boardid=" + encodeURI(boardid);
        }

        function deleteList(listname, key)
        {
            var acceptDelete = confirm("Are you sure you want to delete : " + listname);

            if(acceptDelete)
            {
                window.location.href="/deleteList?id=" + encodeURI(key);
            }
        }

        function deleteCard(cardname, key)
        {
            console.log("delete card");

            var acceptDelete = confirm("Are you sure you want to delete : " + cardname);

            if(acceptDelete)
            {
                window.location.href="/deleteCard?id=" + encodeURI(key);
            }
        }

        function addCard(listid) {
            console.log("adding Card");

            var cardname = prompt("Enter Card Name:");
            var carddesc = prompt("Enter Card Description:");

            if(cardname == null || carddesc == null) return;

            window.location.href = "/addCard?name=" + encodeURI(cardname) +"&desc=" + encodeURI(carddesc) + "&id=" + encodeURI(listid);
        }

    </script>
    <button type="button"
            class="btn btn-success"
            onclick="addList({{ boardid }})">Add List</button><br><br><br>
    <div class="container">
        <div class="lists">
            {% for key, list in alllists %}
                {% if list.boardid == boardid %}
            <div class="list">
                <header>
                    {{ list.titre }}
                    <button
                     type="button"
                    class="btn btn-danger"
                     onclick="deleteList('{{ list['titre'] }}', '{{ key }}')"
                    style="height: 20px; padding: 0px; float: right; margin-top: 8px; text-align: center">Delete</button>
                </header>
                <ul>
                    {% for keycard, card in allcards %}
                        {% if card.listid == key %}
                            <li>
                                {{ card.titre }}
                                &nbsp;<button type="button"
                                              class="btn btn-warning"
                                              onclick="deleteCard('{{ card.titre }}','{{ keycard }}')"
                                              style="height: 20px;padding: 0px;float:right;font-size: 10px;">Delete</button>
                                &nbsp;<button type="button"
                                              class="btn btn-info"
                                              style="height: 20px;
                                              padding: 0px;
                                              float:right;
                                              margin-right: 10px;
                                              font-size: 10px">View</button>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <footer>
                    &nbsp;<button type="button"
                                  class="btn btn-success"
                                  style="padding: 0px; width: 100%;"
                    onclick="addCard('{{ key }}')">Add</button>
                </footer>
            </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}