{% extends "base.html.twig" %}

{% block content %}
    <h1>Login</h1>

    <div class="row">
        <div class="span12">
            <form class="form-horizontal" action='' method="POST">
                <div class="control-group">
                    <!-- Username -->
                    <label class="control-label"  for="username">Email</label>
                    <div class="controls">
                        <input type="text" id="email" name="email" placeholder="" class="input-xlarge">
                    </div>
                </div>
                <div class="control-group">
                    <!-- Password-->
                    <label class="control-label" for="password">Password</label>
                    <div class="controls">
                        <input type="password" id="password" name="password" placeholder="" class="input-xlarge">
                    </div>
                </div>
                <br>
                <div class="control-group">
                    <!-- Button -->
                    <div class="controls">
                        <button class="btn btn-success">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}