{% extends "base.html.twig" %}

{% block content %}
    <h2>Create a list</h2>

    <form action="/createUser" method="get">
        List name :<br>
        <input type="text" name="email" value="Enter email">
        <br>
        Password:<br>
        <input type="password" name="password" value="Enter password">
        <br><br>
        <input type="submit" value="Submit">
    </form>
{% endblock %}