{% extends "base.html.twig" %}
{% block content %}
    <script type="text/javascript">
        function ConfirmDelete(email, key)
        {
            var acceptDelete = confirm("Are you sure you want to delete : " + email);

            if(acceptDelete)
            {
                window.location.href="/deleteUser?id=" + key;
            }
        }

        function addUser()
        {
            var email = prompt("Enter Email : ");
            var password = prompt("Enter Password : ");

            if(email == null || password == null)
            {
                return;
            }

            window.location.href="/createUser?email=" + email +  "&password="+ password;
        }

    </script>
    <table class="table" style="width: auto;">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Email</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for key, user in users %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <th>{{ key }}</th>
                <td>{{ user['email'] }}</td>
                <td><button type="button"
                            class="btn btn-danger"
                            onclick="ConfirmDelete('{{ user['email'] }}', '{{ key }}')">Delete</button></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button type="button"
            class="btn btn-success"
             onclick="addUser()">Add User</button>
{% endblock %}